#container
{
  margin:0 auto;
  position: relative;
  top: 35%;
}

body
{
  width: 100%;
  height: 100%;
  background: url(../images/bgi.jpg) no-repeat;
}

.center_in_center{
  text-align: center;
}

.center_in_center input{
  vertical-align: middle;
}

.search_key
{
  width: 500px;
  height: 32px;
  font-family: Times;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  outline: #86A7D5 solid 2px;
}

.search_key:focus
{
  outline-offset: 0;
}

.search_button
{
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url(../images/search.png) no-repeat;
  background-size: contain;
  border: none;
  margin-left:5px;
  cursor: pointer;
}